[submodule "bleep-tasks/liberated/sbt-git-versioning"]
	path = bleep-tasks/liberated/sbt-git-versioning
	url = git@github.com:oyvindberg/sbt-git-versioning.git
[submodule "bleep-tasks/liberated/sbt-native-image"]
	path = bleep-tasks/liberated/sbt-native-image
	url = git@github.com:oyvindberg/sbt-native-image.git
[submodule "bleep-tasks/liberated/bloop-packager"]
	path = bleep-tasks/liberated/bloop-packager
	url = git@github.com:oyvindberg/bloop-packager.git
[submodule "snapshot-tests-in/tapir"]
	path = snapshot-tests-in/tapir
	url = git@github.com:softwaremill/tapir.git
[submodule "snapshot-tests-in/doobie"]
	path = snapshot-tests-in/doobie
	url = git@github.com:tpolecat/doobie.git
